<% if @shoes.any?() %>
  Here all the brands in all stores
    <ul>
      <% @shoes.each() do |shoe| %>
      <li><%= shoe.brand %></li>
      <% end %>
    </ul>
    <% else %>
      <h5>No brands entered!</h5>
<% end %>
