<h3>Enter the following for a new shoe</h3>

<form action="/shoes/new" method="post">
  <label for="new-name">Name</label>
  <input id="new-name" type="text" name="new-name" required>

  <label for="new-brand">Brand</label>
  <input id="new-brand" type="text" name="new-brand" required>

  <label for="new-year">Year</label>
  <input id="new-year" type="text" name="year" required>

  <label for="new-kind">Kind</label>
  <input id="new-kind" type="text" name="new-kind" required>

  <% if @stores.any? %>
  <p>Assign the shoe to a store!</p>
    <select name="store_id" id='store_id' class="browser-default">
      <option value=""></option>
      <% @stores.each() do |store| %>
        <option value="<%= store.id()%>"><%= store.name() %></option>
      <% end %>
    </select><br>
  <% end %>
  <button type="submit">Enter</button>
</form>
