<h3>Enter the following for a new store</h3>

<form action="/stores/new" method="post">
  <label for="new-name">Name</label>
  <input id="new-name" type="text" name="new-name" required>

  <label for="new-brand">Brand</label>
  <input id="new-brand" type="text" name="new-brand" required>
  <button type="submit">Enter</button>
</form>
