body {
  background-image:url('http://i.stack.imgur.com/IehB7.png');
}

h1 {
  color: white;
}

h2 {
  color: white;
}

h3 {
  color: white;
}

h4 {
  color: white;
}

h5 {
  color: white;
}

li {
  color: skyblue;
}

p {
  color: white;
}
